@model CarCompare.Models.CompareListModel

<head>
    <!--Link to stylesheet-->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
@*We use partials to clean up our index, this file would contain roughly 656 rows of code if all was done here*@
<body>
    <div class="field filter">


        @Html.Partial("Partials/_FilterPV", Model)

    </div>

    <div class="sorting">
        @Html.Partial("Partials/_SortingPV", Model)
    </div>

    <div class="field result">
        <!--Calls partial view so index does not get cluttered-->
        @Html.Partial("Partials/_CarDataPV", Model)
    </div>
</body>