@model CarCompare.Models.VehicleListModel

<head>
    <!--Link to stylesheet-->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="field filter">
        @using (Html.BeginForm("HandleFilterButton", "Home"))
        {
            <button class="filterButton" type="submit" name="button" value="1">Filter</button>
            <button class="filterButton" type="submit" name="button" value="2">Reset Filter</button>
        }

    </div>

    <div class="field result">
        <!--Calls partial view so index does not get cluttered-->
        @Html.Partial("Partials/_CarDataPV", Model)
    </div>
</body>