@model CarCompare.ViewModels.CarDataVM
@{
    ViewBag.Title = "Home Page";
    CarCompare.ViewModels.CarDataVM cdVM = ViewBag.CarData;
}

<head>
    <!--Link to stylesheet-->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="field filter">

    </div>

    <div class="field result">
        <!--Calls partial view so index does not get cluttered-->
        @Html.Partial("Partials/_CarDataPV", cdVM)
    </div>
</body>