@model IEnumerable<CarCompare.Models.vehicle>
@{
    ViewBag.Title = "Home Page";
}

<!--Link to stylesheet-->
<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <style>
        .filterDrop {
            display: inline-block;
            cursor: pointer;
        }

        .bar1, .bar2, .bar3 {
            width: 35px;
            height: 5px;
            background-color: #333;
            margin: 6px 0;
            transition: 0.4s;
        }

        .change .bar1 {
            transform: translate(0, 11px) rotate(-45deg);
        }

        .change .bar2 {
            opacity: 0;
        }

        .change .bar3 {
            transform: translate(0, -11px) rotate(45deg);
        }
    </style>
</head>

<div class="field filter">
    <div class="filterDrop" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
</div>

<script>
    function myFunction(x) {
        x.classList.toggle("change");
</script>

<div class="field result">
    <table class="table">

        @foreach (var item in Model)
        {
            <tr class="entry">
                <td width="10px">
                    <img src="@Html.DisplayFor(modelItem => item.Image)">
                </td>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Model)</strong>
                    <br>
                    Year: @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td align="right">
                    <br />
                    <strong>@Html.DisplayFor(modelItem => item.Carbon_Emissions)</strong>
                </td>
                <td align="right" width="10px">

                    <a class="button1" href="http://www.google.com/" target="_blank" rel="noopener noreferrer">
                        <button class="button1">More Information</button>
                    </a>
                </td>

            </tr>
        }

    </table>
</div>
