/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 4vw;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table {
    width: 100%;
}

.entry {
    text-align: left;
}

.button1 {
    background-color: #00ff21;
}

table tr:nth-child(even) td {
    background-color: #e5e5e5
}

table tr:nth-child(odd) td {
    background-color: #ffffff
}

.aboutField {
    background-color: darkolivegreen;
    font-size: 18px;
    border: 1px solid black;
    margin-inline: 4vw;
    padding-inline: 3vw;
    padding-block-end: 1vw;
}

.informationField {
    background-color: darkolivegreen;
    font-size: 18px;
    border: 1px solid black;
    margin: 4vw;
    padding-inline: 3vw;
    padding-block-end: 1vw;
}